@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-primary-500 ring-offset-2;
  }
}